.carousel {
	@apply mt-28 grid grid-cols-4 gap-8;
}

.item {
	@apply relative mb-8 cursor-pointer rounded-3xl bg-light-gray p-5 pt-0;

	.heading {
		@apply block text-left text-xl font-bold leading-7 text-beige;

		> span {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	.description {
		@apply mt-5 animate-opacity text-sm text-beige opacity-90;
	}

	> div {
		@apply relative;
	}

	.link {
		@apply mt-2.5 block text-center text-xs text-white;
	}

	&.active {
		@apply bg-[#6C946B] bg-no-repeat p-7 pt-0 shadow-2xl shadow-[#6C946B];
		background-image: url('/images/bg-pattern.jpg');
		background-position: center -114px;
		background-size: 120%;

		&::before {
			@apply absolute top-0 left-0 h-full w-full rounded-3xl;
			content: '';
			background-image: linear-gradient(
				0deg,
				rgba(108, 148, 107, 1) 39%,
				rgba(255, 255, 255, 0.4) 100%
			);
		}

		.heading {
			@apply text-3xl leading-9 text-white;
		}
	}
}

.variations {
	@apply mt-6 grid animate-opacity grid-cols-4 gap-2.5;

	&.medium {
		> button {
			@apply text-[0.8rem];
		}
	}

	> button {
		@apply rounded border border-solid border-white bg-transparent px-0.5 text-center text-[0.6rem] font-semibold uppercase text-white transition-colors;

		&.active {
			@apply bg-white text-dark-green;
		}
	}
}
